<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <servlet-mapping>
        <servlet-name>TestTask</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/cust</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MappingSpec</servlet-name>
        <url-pattern>/map</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>MappingSpec</servlet-name>
        <servlet-class>com.example.demo1ee.MappingSpec</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestTask</servlet-name>
        <servlet-class>com.example.demo1ee.TestTask</servlet-class>

        <init-param>
            <param-name>name</param-name>
            <param-value>Lakshan</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Alubomulla</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>com.example.demo1ee.Customer</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Ruvini</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Panadura</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>com.example.demo1ee.Student</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JsonTypeHandle</servlet-name>
        <servlet-class>com.example.demo1ee.JsonTypeHandle</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonTypeHandle</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

</web-app>


